player-connection-mode=Listen
player-connection-guid=1119109761
player-connection-debug=0
player-connection-project-name=vinci-unity-mvp-ai
player-connection-ip=192.168.56.1
player-connection-ip=192.168.1.193
player-connection-ip=26.157.26.93
player-connection-ip=172.26.160.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=f7d92f1b4a934eafb3f26fa04e909edb
